<form method="post" action="/" name="form">
	<input type="text" name="url" value="<%= @url %>" placeholder="URL" size="80" id="url">
	<input type="submit" name="submit" value="shrl it!" id="submit">
</form>

<% if @error %>
<p id="error"> Whooops! <%= @error %></p>
<% end %>

<% if @shorturl %>
<p id="result">
	<span id="yourlink">Your shortened link:</span>
	<form name="resultform">
		<input type="text" name="shortcode" value="<%= env['HTTP_REFERER']+@shorturl.shortcode %>" placeholder="URL" size="80" id="url">
	</form>
</p>
	<script type="text/javascript">
		document.forms.resultform.url.focus()
	</script>
<% else %>
	<script type="text/javascript">
		document.forms.form.url.focus()
	</script>
<% end %>