<html>
<head>
	<title>shrl</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css" charset="utf-8">
</head>
<body onload="document.forms.form.url.focus()">
	<h1>shrl</h1>
	<%= yield %>
</body>
</html>
